.display {
  font-size: 70px;
  line-height: 80px;
  min-height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-35deg, aqua, #208bc4);
  box-shadow: 0 0 10px black;
  border-radius: 6px;
  margin-bottom: 40px;
  color: white;
  text-shadow: 2px 2px 4px black;
}


.max {
  font-size: 120px;
  line-height: 140px;
  text-shadow: 3px 3px 4px #7f0303;
  font-weight: bold;
  color: #dc2f04;
}